/* Write your CSS here */
.ul-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.app-container {
  width: 100%;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}

.button_list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-heading {
  font-family: 'Lobster';
  font-style: italic;
}
